@{
    ViewBag.Title = "Home Page";
}
<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>InBliss Yoga is the Midwest's most popular yoga studio.</h1>
                        <h2>Created by Marti Lee Bowen and her "Identical twin daughter" Starr Lee, Inbliss is a home for the beginner to advanced yogi.</h2>
                        @*<a href="#download" class="btn btn-outline btn-xl page-scroll">Start Now for Free!</a>*@
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="picturecenter">
                    <img src="~/Images/marquee_store.jpg" />
                </div>
            </div>
        </div>
    </div>
</header>
<section id="discover" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Discover your Bliss at InBliss!</h2>
                <p>We are located at<br /> 5106 NW Waukomis Dr.</p>
                <h3>Directions:</h3>
                <a style="color:darkorchid" href="https://www.google.com/maps/place/5106+NW+Waukomis+Dr,+Kansas+City,+MO+64151/39.1868242,-94.6089028,17z/data=!3m1!4b1!4m5!3m4!1s0x87c0f6ff705aa977:0xa31b1bffbde53a37!8m2!3d39.1868242!4d-94.6067141" target="_blank">From I-29 North:  Take the Waukomis Drive Exit</a>
                <br />
                <a style="color:darkorchid" href="https://www.google.com/maps/place/5106+NW+Waukomis+Dr,+Kansas+City,+MO+64151/39.1868242,-94.6089028,17z/data=!3m1!4b1!4m5!3m4!1s0x87c0f6ff705aa977:0xa31b1bffbde53a37!8m2!3d39.1868242!4d-94.6067141" target="_blank">From I-29 South:  Take the Riverside Exit</a>
            </div>
        </div>
    </div>
</section>
<section id="aboutus" class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h2>Make some Time for You!</h2>
                    <p class="text-muted">Check out our schedule and class descriptions!</p>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @*<img src="~/Images/XmFG0wyITkuJusoCfV3F_Class Description.jpg" />
                    <br />
                    <img src="~/Images/YTxB7oJBRhWn5r9g0OIZ_Schedule Summer 2016.jpg" />*@
            </div>
            <a class="clearfix"></a>
            <div class="col-md-12">
                <div class="page-content">
                    <p style="text-align: center;"><span style="color: #800000;"><strong><span style="text-decoration: underline;"><a style="color: #800000; text-decoration: underline;" href="https://clients.mindbodyonline.com/classic/home?studioid=289981">Sign-in Online</a></span>&nbsp; &nbsp; &nbsp;</strong></span><span style="color: #808080;"><br><img style="display: block; margin-left: auto; margin-right: auto;" src="https://s3.amazonaws.com/kajabi-storefronts-production/sites/9212/images/sUbtvV4oRkGXBByq8qOo_Mind Body Click Here Now.001.jpeg" alt="" width="315" height="178"></span></p>
                    <h4 style="text-align: center;">:: &nbsp;OR &nbsp;::&nbsp;</h4>
                    <p style="text-align: center;"><a href="https://www.mindbodyonline.com/get-the-app" target="_blank"><strong><span style="text-decoration: underline;"><span style="color: #800000; text-decoration: underline;">Download the Free</span></span></strong><span style="text-decoration: underline;"><span style="color: #800000; text-decoration: underline;"> MIND<strong>BODY</strong>&nbsp;</span></span><span style="text-decoration: underline;"><span style="color: #800000; text-decoration: underline;">App</span></span></a></p>
                    <h3><span style="text-decoration: underline;"><span style="color: #800000; text-decoration: underline;"><a style="color: #800000; text-decoration: underline;" title="Download the Mind Body App" href="https://www.mindbodyonline.com/get-the-app" target="_blank"><strong><img style="display: block; margin-left: auto; margin-right: auto;" src="https://s3.amazonaws.com/kajabi-storefronts-production/sites/9212/images/v9G20BwWRaWryTBOzPI8_iphone-android-logos.gif" alt="" width="193" height="38"></strong></a></span></span><a href="https://www.mindbodyonline.com/get-the-app" target="_blank"><strong><span style="text-decoration: underline;"><span style="color: #800000; text-decoration: underline;"><img style="float: left; display: block; margin-left: auto; margin-right: auto;" src="https://s3.amazonaws.com/kajabi-storefronts-production/sites/9212/images/G9di9eIQRmSb3jRO1FpD_mindbody.png" alt="" width="381" height="391"></span></span></strong></a></h3>
                    <h6><span style="color: #808080;"><strong>Sign in for Classes on your phone, skip the line, be awesome!</strong></span></h6>
                    <p style="text-align: left;"><span style="color: #800000;"><strong>&nbsp; What is MindBodyOnline? </strong></span>Mind Body is an app trusted&nbsp;by top yoga studios, health clubs and other service businesses worldwide to allow customers to check schedules,&nbsp;sign-in for&nbsp;classes and check on their account.</p>
                    <p style="text-align: left;"><span style="color: #800000;"><strong><span style="color: #333333;">The App is FREE</span></strong> <a style="color: #800000;" href="https://www.mindbodyonline.com/get-the-app">Download it now</a> </span>and search for&nbsp;<span style="color: #333333;"><strong>InBliss Yoga Kansas City, MO.</strong></span></p>
                    <hr>
                    <p style="text-align: center;">&nbsp;</p>
                    <a class="clearfix"></a>

                    <h2 style="text-align: center;"><span style="color: #800000;"><strong>Class Descriptions</strong></span></h2>
                    <br />
                    <br />
                    <div style="text-align:center;">
                        <h3>Sunday Sangha</h3>
                        <p>Start your week with the cummunion of Body, Mind, and Spirit. Bhakti yoga motivates through the power of love. We see God as the embodiment of love. Through prayer, chanting, and meditation we channel and transmute unconditional love. All levels of yoga are practiced: Children's (ages 3 - 10), Chair, Basic & Ashtanga yoga. We accept donations to fund this practice.</p>
                        <h3>Rest & Restore (level 1)</h3>
                        <p>We work very hard in our lives, and while we may sleep, we rarely take time to rest. Restorative yoga poses help us learn to relax, rest deeply, and completely. This type of yoga has many health benefits: reduce blood pressure, improve digestion, increase fertility, reduction of insomnia and fatigue, reduce muscle soreness and MUCH MORE!</p>
                        <h3>Propped-Up Yoga (level 1)</h3>
                        <p>Yoga is for everybody! This class utilizes chairs and other props to offer various levels of yoga poses so that anyone can participate. Don't let diabilities, weight challenges, flexibility concerns, balance issues, or other physical concerns stop you from soaking up all the beniefits of yoga in your mind and body!</p>
                        <h3>FUNdamentals of Yoga (level 1)</h3>
                        <p>"You can learn new things at any time in your life if you're willing to be a beginner. If you actually learn to like being a beginner, the whole world opens up to you." - Barbara Sher<br />Return, or begin, with the fundamentals of hatha yoga. This class focuses on alignment, breath-work, cultivating body awereness, and strength-building!</p>
                        <h3>Vinyasa Flow (levels 1-2)</h3>
                        <p>Step it up! A class to challenge beginners and intermediate students alike! Learn important modifications to poses. Learn to honor your body. Learn to connect to your breath. We all do the same poses as they are expressed in our individual bodies.</p>
                        <h3>Ashtanga Mix (level 2-3)</h3>
                        <p>This class is a physically demanding practice that incorporates many sun salutations, twists, arm strengthening chaturangas, and jump backs in a heated room. You will sweat, detox, and become STRONGER than you ever dreamed!</p>
                        <h3>Rock Star Arm Balance (level 3)</h3>
                        <p>This class offers vigorous sequences designed to develop your upper body strength so you can lear to soar in your yoga practice! Enjoy beautiful and challenging poses as you become stronger and more flexible. Challane accepted?</p>
                        @*<p style="text-align: justify;"><img style="display: block; margin-left: auto; margin-right: auto;" src="https://s3.amazonaws.com/kajabi-storefronts-production/sites/9212/images/XmFG0wyITkuJusoCfV3F_Class Description.jpg" alt=""></p>*@
                    </div>
                    <br />
                    <div style="text-align:center;">
                        <h2 style="text-align: center;"><span style="color: #800000;"><strong>Class Schedule</strong></span></h2>
                        <h3>Sunday</h3>
                        <p>
                            11:00am - 12:00pm - Sangha Bhakti Yoga & Dharma Talk
                        </p>
                        <h3>Monday</h3>
                        <p>
                            6:30am - 7:30am - Vinyasa Flow with <strong style="font-style:italic">Colette</strong><br />
                            10:00am - 11:00am - Propped-Up Yoga with <strong style="font-style:italic">Jan</strong><br />
                            10:00am - 11:00am - FUNdamentals with <strong style="font-style:italic">Chris</strong><br />
                            5:30pm - 6:30pm - FUNdamentals with <strong style="font-style:italic">Starr</strong><br />
                            5:30pm - 7:00pm - Ashtanga Mix with <strong style="font-style:italic">Marti</strong><br />
                            7:15pm - 8:15pm - Rest & Restore with <strong style="font-style:italic">Starr</strong><br />
                            7:15pm - 8:15pm - Vinyasa Flow with <strong style="font-style:italic">Marti</strong><br />
                        </p>
                        <h3>Tuesday</h3>
                        <p>
                            10:00am - 11:00am - FUNdamentals with <strong style="font-style:italic">Marti</strong><br />
                            5:30pm - 7:00pm - Ashtanga Mix with <strong style="font-style:italic">Starr</strong><br />
                            5:30pm - 6:30pm - FUNdamentals with <strong style="font-style:italic">Marti</strong><br />
                            7:15pm - 8:15pm - Vinyasa Flow with <strong style="font-style:italic">Starr</strong><br />
                        </p>
                        <h3>Wednesday</h3>
                        <p>
                            6:30am - 7:30am - Vinyasa Flow with <strong style="font-style:italic">Colette</strong><br />
                            10:00am - 11:00am - Vinyasa Flow with <strong style="font-style:italic">Chris</strong><br />
                            5:30pm - 6:30pm - Rock Star Arm Balance with <strong style="font-style:italic">Starr</strong><br />
                            5:30pm - 6:30pm - Vinyasa Flow with <strong style="font-style:italic">Ian</strong><br />
                            7:00pm - 8:00pm - Vinyasa Flow with <strong style="font-style:italic">Marti</strong><br />
                        </p>
                        <h3>Thursday</h3>
                        <p>
                            10:00am - 11:00am - FUNdamentals with <strong style="font-style:italic">Joyce</strong><br />
                            10:00am - 11:00am - Ashtanga Mix with <strong style="font-style:italic">Marti</strong><br />
                            5:30pm - 6:30pm - FUNdamentals with <strong style="font-style:italic">Marti/Starr</strong><br />
                            5:30pm - 6:30pm - Ashtanga Mix with <strong style="font-style:italic">Marti/Starr</strong><br />
                            7:00pm - 8:00pm - FUNdamentals with <strong style="font-style:italic">Angela</strong><br />
                            7:00pm - 8:00pm - Ashtanga Mix with <strong style="font-style:italic">Starr</strong><br />
                        </p>
                        <div>
                            <img src="~/Images/Capture.PNG" />
                        </div>

                        <h3>Friday</h3>
                        <p>
                            10:00am - 11:00am - Rest & Restore <br />
                            10:00am - 11:00am - Propped-Up Yoga with <strong style="font-style:italic">Jan</strong><br />
                        </p>
                        <h3>Saterday</h3>
                        <p>
                            9:00am - 10:00am - FUNdamentals with <strong style="font-style:italic">Starr/Colette</strong><br />
                            9:00am - 10:00am - Ashtanga Mix with <strong style="font-style:italic">Marti/Amy/Chris</strong><br />
                            10:30am - 11:30am - Vinyasa Flow with <strong style="font-style:italic">Marti/Amy/Chris</strong><br />
                            10:30am - 11:30am - Rock Star Arm Balance with <strong style="font-style:italic">Starr/Colette</strong><br />
                        </p>
                    </div>
                    @*<p style="text-align: justify;"><img style="display: block; margin-left: auto; margin-right: auto;" src="https://s3.amazonaws.com/kajabi-storefronts-production/sites/9212/images/YTxB7oJBRhWn5r9g0OIZ_Schedule Summer 2016.jpg" alt=""></p>*@
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="cta">
    <div class="cta-content">
        <div class="container">
            <h2>Stop waiting.<br>Start Living.</h2>
            <a href="#contact" class="btn btn-outline btn-xl page-scroll">Let's Get Started!</a>
        </div>
    </div>
    <div class="overlay"></div>
</section>
<section id="contact" class="contact bg-primary">
    <div class="container">
        <h2>We <i class="fa fa-heart"></i> new friends!</h2>
        <ul class="list-inline list-social">
            <li class="social-twitter">
                <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="social-facebook">
                <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li class="social-google-plus">
                <a href="#"><i class="fa fa-google-plus"></i></a>
            </li>
        </ul>
    </div>
</section>
