header{
    background: url(../Images/bg-pattern.png),linear-gradient(to left,#7b4397,#dc2430)
}
.picturecenter{
    margin-top:24em;
}
.navbar-default .nav>li>a, .navbar-default .nav>li>a:focus{
    color:black;
}
h3{
    color:#bc0a00;
}